# Ignore node_modules directory
node_modules/

# Ignore environment variables file
.env

# Ignore build artifacts
build/
dist/

# Ignore log files
*.log

# Ignore editor specific files
.vscode/
.idea/

# Ignore dependency lock files
package-lock.json
yarn.lock
